<% if @mustache_render_folder.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@mustache_render_folder.errors.count, "error") %> 个问题导致不能保存:</h2>

    <ul>
      <% @mustache_render_folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :parent_id %><br />
  <%= f.select :parent_id, MustacheRenderFolder.nested_set_select_options(nil, @mustache_render_folder, :include_blank => true)  %>
</div>

<div class="field">
  <%= f.label :note %><br />
  <%= f.text_area :note, :rows => 5 %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

