<h1>模板文件夹详情</h1>

<div>
  <% @mustache_render_folder.ancestors.each do |folder| %>
    <%= link_to h("#{folder.name}"), mustache_render_manage_folder_url(folder) %> >>
  <% end %>

  <b><%= h "#{@mustache_render_folder.name}" %></b>
</div>

<div>
  <div class='field'>
    <b>全路径:</b> <%= h "#{@mustache_render_folder.full_path}" %>
  </div>

  <div class='field'>
    <b>备注:</b> <br/>
    <%= h "#{@mustache_render_folder.note}" %>
  </div>
</div>

<div class='folders-list'>

</div>

<h3>模板文件列表</h3>
<div class='templates-list'>
  <% if @mustache_render_templates.any? %>
    <% @mustache_render_templates.each do |template| %>
      <div class='template-item'>
        <%= link_to h("#{template.name}"), mustache_render_manage_folder_template_url(:folder_id => template.folder_id, :id => template.id) %>
      </div>
    <% end %>
  <% else %>
    <div class='empty-list'>
      没有模板文件
    </div>
  <% end %>
</div>

<%= link_to "新建模板文件", new_mustache_render_manage_folder_template_url(:folder_id => @mustache_render_folder.id) %>
<%= link_to "新建文件夹", new_mustache_render_manage_folder_url(:parent_id => @mustache_render_folder.id) %>
<%= link_to "编辑", edit_mustache_render_manage_folder_url(@mustache_render_folder) %>
<%= link_to "返回列表", mustache_render_manage_folders_url %>
