<h1>模板文件历史记录 #<%= "#{@mustache_render_template_version.id}"%> 详情</h1>

<div>
  <% @mustache_render_folder.ancestors.each do |folder| %>
    <%= link_to h("#{folder.name}"), mustache_render_manage_folder_url(folder) %> >>
  <% end %>

  <b><%= h "#{@mustache_render_folder.name}" %></b>
</div>

<div>
  <div class='field'>
    <b>文件名:</b> <%= h "#{@mustache_render_template_version.name}" %>
  </div>

  <div class='field'>
    <b>全路径:</b> <%= h "#{@mustache_render_template_version.full_path}" %>
  </div>

  <div class='field'>
    <b>模板代码:</b><br/>
    <pre style='border: 1px solid #333; background-color: #ccc; padding: 10px;'><%= h @mustache_render_template_version.content %></pre>
    <%#= text_area_tag :content, @mustache_render_template.content, :style => 'height: 700px; width: 700px;' %>
  </div>

  <div class='field'>
    <b>备注:</b> <br/>
    <%= h "#{@mustache_render_template_version.note}" %>
  </div>

  <div class='field'>
    <b>更新日志:</b> <br/>
    <%= h "#{@mustache_render_template_version.change_log}" %>
  </div>
</div>

<%= link_to '编辑该版本', edit_mustache_render_manage_folder_template_template_version_url(
  :folder_id   => @mustache_render_template_version.folder_id,
  :template_id => @mustache_render_template_version.template_id,
  :id          => @mustache_render_template_version.id
) %>

<%= link_to "返回文件夹", mustache_render_manage_folder_url(:id => @mustache_render_template_version.folder_id) %>
<%= link_to "返回现行版本", mustache_render_manage_folder_template_url(
  :folder_id   => @mustache_render_template_version.folder_id,
  :id          => @mustache_render_template_version.template_id
) %>

<%= link_to "返回上一级", mustache_render_manage_folder_template_template_versions_url(
  :folder_id => @mustache_render_template.folder_id,
  :template_id => @mustache_render_template.id
) %>

